body{
    background: rgb(35,0,121);
    background: linear-gradient(90deg, rgba(35,0,121,1) 22%, rgba(247,247,74,1) 44%, rgba(249,239,42,1) 53%, rgba(29,0,110,1) 76%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Volver{
    margin-top: 10px;
    width: 6em;
    font-size: 16px;
    height: 3.5em;
    font-family: "Mystery Quest", cursive;
    background: rgb(250, 255, 175);
    border: 5px solid rgb(185, 120, 247);
    border-radius: 50px 20px 70px 30px / 10px 70px 20px 60px;
    box-shadow: 0 0 40px rgb(197, 154, 253);
}
.container{
    margin-top: 0;
    margin-right: 30em;
    width: 17.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 60;
}
.box-container-juego{
    background: rgb(65, 34, 142);
    background: linear-gradient(90deg, rgba(65, 34, 142, 0.7707457983193278) 54%, rgba(7, 1, 27, 0.7371323529411764) 95%);
    border: 5px solid rgb(240, 234, 204);
    border-radius: 50px 20px 70px 30px / 10px 70px 20px 60px;
    box-shadow: 0 0 40px rgba(247, 227, 116, 0.61), inset 0 0 50px rgba(253, 247, 159, 0.89);
    width: 17.2em;
    margin-right: 20em;
    display: flex;
}

.game{
    width:17.2em;
}
.game img {
    border: 1px solid rgb(240, 234, 204);
    border-radius: 30px 10px 50px 20px / 10px 70px 20px 60px;
    box-shadow: 0 0 6px rgba(247, 227, 116, 0.61), inset 0 0 6px rgba(253, 247, 159, 0.89);
    width: 2.5em; 
    height: 3.5em; /* altura automática según la proporción de la imagen */
    padding: 0;
    margin: 6px;
  }
  @media only screen and (min-width: 500px) and (orientation: landscape){
    .game img {
        width: 2.5em; 
        height: 3.5em; 
    }
    .container{
        margin-right: 12em;
        width: 34em;
    }
    .Volver{
        font-size: 16px;
        height: 4em;
    }
    .box-container-juego{
        background: rgb(65, 34, 142);
        background: linear-gradient(90deg, rgba(65, 34, 142, 0.7707457983193278) 54%, rgba(7, 1, 27, 0.7371323529411764) 95%);
        border: 5px solid rgb(240, 234, 204);
        border-radius: 50px 20px 70px 30px / 10px 70px 20px 60px;
        box-shadow: 0 0 10px rgba(247, 227, 116, 0.61), inset 0 0 20px rgba(253, 247, 159, 0.89);
        width: 34em;
        display: flex;
    }
    .game{
        width: 34em;
    }
  }
@media screen and (min-width: 1200px) and (max-width: 1919px) {

    .game img {
        width: 6em; 
        height: 7em; /* altura automática según la proporción de la imagen */
        margin-left: 1em;
        box-shadow: 0 0 10px rgba(244, 245, 179, 0.925), inset 0 0 50px rgba(253, 247, 159, 0.89); /* Sombras exteriores e interiores */
    }
    .container{
        margin-top: 0em;
        margin-right: 12em;
        width: 60em;
    }
    .Volver{
        font-size: 16px;
        height: 4em;
    }
    .box-container-juego{
        background: rgb(65, 34, 142);
        background: linear-gradient(90deg, rgba(65, 34, 142, 0.7707457983193278) 54%, rgba(7, 1, 27, 0.7371323529411764) 95%);
        border: 5px solid rgb(240, 234, 204);
        border-radius: 50px 20px 70px 30px / 10px 70px 20px 60px;
        box-shadow: 0 0 10px rgba(247, 227, 116, 0.61), inset 0 0 20px rgba(253, 247, 159, 0.89);
        width: 68em;
        display: flex;
    }
    .game{
        width:68em;
    }
}
@media screen and (min-width: 1920px) {
    body{
        background-image: url(img/fondo1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
    }
    .container{
        margin-top: 1em;
        margin-right: 17em;
        width: 100em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
    }
    .box-container-juego{
        width: 117em;
        display: flex;
        background: rgb(65, 34, 142);
        border: 5px solid rgb(240, 234, 204);
        background: linear-gradient(90deg, rgba(65, 34, 142, 0.7707457983193278) 54%, rgba(7, 1, 27, 0.7371323529411764) 95%);
        border-radius: 50px 20px 70px 30px / 10px 70px 20px 60px; /* Valores no uniformes para hacer el borde deforme */
        box-shadow: 0 0 40px rgba(247, 227, 116, 0.61), inset 0 0 50px rgba(253, 247, 159, 0.89); /* Sombras exteriores e interiores */
    }
    .game img {
        margin: 15px;
        width: 9em; 
        height: 10em; 
        border-radius: 10px 70px 20px 60px / 50px 20px 70px 30px;
        box-shadow: 0 0 10px rgba(244, 245, 179, 0.925), inset 0 0 50px rgba(253, 247, 159, 0.89); /* Sombras exteriores e interiores */
    }
    .game{
        width:121em;
       
    }
    .Volver{
        margin-top: 10px;
        width: 8em;
        font-size: 18px;
        height: 5em;
        font-family: "Mystery Quest", cursive;
        background: rgb(250, 255, 175);
        border: 5px solid rgb(185, 120, 247);
        border-radius: 50px 20px 70px 30px / 10px 70px 20px 60px;
        box-shadow: 0 0 40px rgb(197, 154, 253);
    }
}
